.product-container {
  width: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  background-color: white;
  position: relative;
  transition: all ease 0.5s;
  margin-right: auto;
  margin-left: auto;
  height: 320px;
}

.product-container:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
}

.discount-div {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #3289a8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
}
.whishlist-div {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  display: block;
  color: red;
}
.discount_price {
  text-decoration: line-through;
  color: #e2e1e1;
}
.image-div {
  margin-top: 20px;
  height: 150px;
  object-fit: contain;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding: 5px;
  overflow-y: hidden;
}

.product-body {
  margin-top: 20px;
  height: 80px;
}

.product_price {
  margin-top: 5px;
  /* font-weight: bold; */
  /* font-size: 1rem; */
  /* color: black; */
}

/*Small devices (landscape phones, 544px and up) */
@media only screen and (min-width: 544px) {
  .product-container {
    width: 240px;
  }
  .image-div {
    min-height: 180px;
  }
  .product_price {
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media only screen and (min-width: 768px) {
  .product-container {
    width: 240px;
    /* margin-right: 2rem; */
    height: 360px;
    overflow-y: hidden;
  }
  .image-div {
    margin-top: 0px;
    height: 40px;
  }
  .product_price {
    font-size: 1.2rem;
  }
  .product-body {
    margin-top: 0px;
    height: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-container {
    width: 240px;
    /* margin-right: 2rem; */
    height: 360px;
    overflow-y: hidden;
  }
  .image-div {
    margin-top: 0px;
    height: 40px;
  }
  .product_price {
    font-size: 1.2rem;
  }
  .product-body {
    margin-top: 0px;
    height: 80px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .product-container {
    width: 240px;
    /* margin-right: 2rem; */
    height: 360px;
    overflow-y: hidden;
  }
  .image-div {
    margin-top: 0px;
    height: 40px;
  }
  .product_price {
    font-size: 1.2rem;
  }
  .product-body {
    margin-top: 0px;
    height: 80px;
  }
}
